<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="./assets/logo.png" height="60px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Inicio de sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registro">Registro</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      </form>
    </div>
  </nav>


<div class="container">
    <div class="row">
        <div class="col-md-60 col-lg-7 col-xl-60" style="margin-top: 20px; margin-left: 75px;">
            <!-- Default form register -->
            <form class="text-center border border-light p-4 mdb-color darken-3 rounded mb-1"
                style="height: 700px; width: 1000px;" action="#!">
                <div class="row">
                    <div class="col-md-10 col-lg-7 col-xl-4">
                        <p></p>
                    </div>
                    <div class="col-md-10 col-lg-7 col-xl-4">
                        <div class="form-group">
                            <p class="text-warning"></p>
                            <h4 class="p-3 mb-2 bg-warning text-dark">REGISTRO USUARIO</h4>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-lg-7 col-xl-3">
                        <p></p>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-5 col-lg-5 col-xl-5" style=" margin-left:-50px;">
                        <!-- First name -->
                        <p class="h4 mb-1" style="font-size: 16px; font-weight: bold; color:white; margin-top: 10px;">
                            CARNÉ:</p>
                    </div>
                    <div class="col-md-5 col-lg-3 col-xl-3" style=" margin-left:-80px;">
                        <input name="cajac" [(ngModel)]="carnet" type="text" id="defaultRegisterFormFirstName"
                            class="form-control" placeholder="CARNÉ">
                    </div>


                </div>

                <div class="form-row mb-3">
                    <div class="col-md-5 col-lg-5 col-xl-5" style=" margin-left:-50px;">
                        <!-- last name -->
                        <p class="h4 mb-4" style="font-size: 16px; font-weight: bold; color:white;  margin-top: 10px;">
                            NOMBRE:</p>
                    </div>
                    <div class="col-md-5 col-lg-3 col-xl-3" style=" margin-left:-80px;">
                        <input name="cajan" [(ngModel)]="nombre" type="text" id="defaultRegisterFormFirstName"
                            class="form-control" placeholder="NOMBRE">
                    </div>

                </div>


                <div class="form-row mb-3">

                    <div class="col-md-5 col-lg-5 col-xl-5" style=" margin-left:-50px;">
                        <p class="h4 mb-4" style="font-size: 16px; font-weight: bold; color:white;  margin-top: 10px;">
                            APELLIDOS:</p>
                    </div>
                    <div class="col-md-5 col-lg-3 col-xl-3" style=" margin-left:-80px;">
                        <input [(ngModel)]="apellido" name="cajap" type="text" id="defaultRegisterFormFirstName"
                            class="form-control" placeholder="APELLIDO">
                    </div>


                </div>

                <div class="form-row mb-3">
                    <div class="col-md-5 col-lg-5 col-xl-5" style=" margin-left:-50px;">
                        <!-- last name -->
                        <p class="h4 mb-4" style="font-size: 16px; font-weight: bold; color:white;  margin-top: 10px;">
                            CUI:</p>
                    </div>
                    <div class="col-md-5 col-lg-3 col-xl-3" style=" margin-left:-80px;">
                        <input name="cajacui" [(ngModel)]="cui" type="text" id="defaultRegisterFormFirstName"
                            class="form-control" placeholder="CUI">
                    </div>

                </div>

                <div class="form-row mb-3">
                    <div class="col-md-5 col-lg-5 col-xl-5" style=" margin-left:-90px;">
                        <p class="h4 mb-4" style="font-size: 16px; font-weight: bold; color:white;  margin-top: 10px;">
                            CONTRASEÑA:</p>
                    </div>
                    <div class="col-md-5 col-lg-3 col-xl-3" style=" margin-left:-41px;">
                        <input name="cajapas" [(ngModel)]="clave" type="text" id="defaultRegisterFormFirstName"
                            class="form-control" placeholder="CONTRASEÑA">
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md-5 col-lg-5 col-xl-5" style=" margin-left:-90px;">
                        <p class="h4 mb-4" style="font-size: 16px; font-weight: bold; color:white;  margin-top: 10px;">
                            CARRERA:</p>
                    </div>
                    <div class="col-md-5 col-lg-3 col-xl-3" style=" margin-left:-41px;">
                        <select name="cajacarrera" [(ngModel)]="carrera"
                            class="browser-default custom-select custom-select-lg mb-1">
                            <option value="001">Ciencias y Sistemas</option>
                            <option value="002">Industrial</option>
                            <option value="003">Mecanica Electrica</option>
                            <option value="004">Quimica</option>
                            <option value="005">Electronica</option>
                            <option value="006">Mecanica Industrial</option>
                            <option value="007">Ambiental</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="Registro" (click)="registrar()">REGISTRAR
                    USUARIO</button>
            </form>


        </div>
    </div>
</div>